export(rho_trans)
export(invlogit_bnd)
export(div_by_mean)
export(double_logistic)
export(square)
export(norm2)
export(first_difference)
export(third_difference)
export(expm1)
export(posfun)
export(dlnorm)
export(dstudent)
export(ddirichlet)
export(ddm)
export(get_sel_skeleton)
export(get_selectivity)
export(construct_Q)
